    svg {
        margin-left: 20px;
        position: absolute;
        width: 300px;
        height: 300px;
        margin-right: 10px;
    }
    
    ion-input {
        background: transparent;
        left: 20%;
        right: 20%;
    }
    
    ion-content {
        margin-top: 10px;
    }
    
    ion-item {
        margin-left: 10px;
        margin-right: 20px;
    }
    
    ion-button {
        margin-top: 16px;
        width: 93%;
        margin-left: 10px;
        margin-right: 20px;
    }
    
    p {
        font-family: 'Alata', sans-serif;
        margin-left: 10px;
        font-size: small;
    }
    
    h1 {
        font-family: 'Alata', sans-serif;
        margin: 20px;
    }
    
    a {
        margin-top: 10px;
        font-family: 'Alata', sans-serif;
        margin-left: 20px;
    }