    svg {
        position: absolute;
        width: 340px;
        height: 376px;
    }
    
    ion-input {
        background: transparent;
        left: 20%;
        right: 20%;
    }
    
    ion-content {
        margin-top: 10px;
    }
    
    ion-item {
        margin-left: 10px;
        margin-right: 20px;
    }
    
    ion-button {
        margin-top: 16px;
        width: 93%;
        margin-left: 10px;
        margin-right: 20px;
    }
    
    p {
        margin-left: 10px;
        font-size: small;
    }