svg {
    margin-top: 10px;
    position: absolute;
    width: 260px;
    height: 310px;
    margin-left: 20px;
    margin-right: 10px;
}

ion-input {
    background: transparent;
    left: 20%;
    right: 20%;
}

ion-content {
    margin-top: 10px;
}

ion-item {
    margin-left: 10px;
    margin-right: 20px;
}

ion-button {
    margin-top: 16px;
    width: 93%;
    margin-left: 10px;
    margin-right: 20px;
}

p {
    font-family: 'Alata', sans-serif;
    margin-left: 10px;
    font-size: small;
}

h1 {
    font-family: 'Alata', sans-serif;
    margin: 20px;
}